<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Online Grocery {% block extra_title %}{% endblock extra_title %}</title>
    {% block meta %}
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock meta %}
    {% block extra_meta %}{% endblock extra_meta %}
    {% block corecss %}
      <link rel="stylesheet" href="assets/css/style.css" />
    {% endblock corecss %}
    {% block extra_css %}{% endblock extra_css %}
    {% block corejs %}
      <script src="assets/js/script.js"></script>
    {% endblock corejs %}
    {% block extrajs %}{% endblock extrajs %}
    
  </head>
  <body>
    <header class="header">
      <!-- Company logo -->
      <img src="assets/images/logo.png" alt="Company Logo" class="logo" />

      <!-- Navigation buttons -->
      <div class="nav">
        <button>Shopping</button>
        <button>Favourites</button>
        <button>Past Orders</button>
        <button>My Account</button>
      </div>
    </header>
    <div class="frame1">
      <div class="frame2-1">product image</div>
      <div class="frame2-2">
        <div class="frame3">product name</div>
        <div class="frame3">
          <div class="frame4">price</div>
          <div class="frame4">
            <div class="frame5">"add-on" icon</div>
            <div class="frame5">item number</div>
            <div class="frame5">"reduce" icon</div>
          </div>
        </div>
      </div>
    </div>
    <div id="content"></div>
  </body>
  <!-- link index.js to this html -->
</html>
