  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
  }

  /* Logo styling */
  .logo {
    width: 100px; 
    height: auto;
  }

  /* Navigation styling */
  .nav {
    display: flex;
    gap: 10px; 
  }

  /* Button styling */
  .nav button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  
  .nav button:hover {
    background-color: #0056b3;
  }

  .frame1 {
  margin: 1vw;
  display: flex;
  background-color: #29ac3a; 
  height: 20vh;
  width: 40vw;
}

  .frame2-1 {
  background-color: #b91c5e; 
  height: 90%;
  width: 30%;
  margin: 2%;
}

  .frame2-2 {
  background-color: #b91c5e; 
  height: 90%;
  width: 60%;
  margin: 2%;
}

  .frame3 {
  display: flex;
  flex-direction: row;
  background-color: #3a26e7; 
  height: 45%;
  width: 90%;
  margin: 2%;
}

  .frame4 {
  background-color: #e7e426; 
  height: 90%;
  width: 45%;
  margin: 2%;
}

  .frame5 {
  background-color: #b60f1d; 
  height: 30%;
  width: 90%;
  margin: 2%;
}